@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --grey: rgb(97, 99, 121);
    --gray: rgb(197, 203, 255);
    --white: rgb(197, 203, 255);
    --black: rgb(14, 12, 12);
    --rr: rgb(80, 247, 130);
    --ff-inter: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-inter);
}
main{
    min-height: 100vh;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
*/

.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-component{
    max-width: 280px;
    padding: 40px 15px 15px;
    border: 1px solid var(--grey);
    border-radius: 15px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.card-component img{
    padding: 5px;
    border: 1px solid var(--grey);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.card-component:nth-child(2) img{
    background: var(--gray);
}
.card-component h1{
    color: var(--white);
    font-size: 1.35em;
    margin: 10px 0;
}
.card-component p{
    color: var(--grey);
    font-size: 0.85em;
    line-height: 1.45em;
}

.circle{
    display: none;
    z-index: 999;
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px dotted var(--rr);
    border-radius: 50%;
    transition: all .1s;
}
/* .circle::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--rr);
    opacity: .3;
    border-radius: 50%;
    transform: translate(-12.5%, -12.5%);
} */



@media (min-width: 650px) {

    .container{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 20px;
    }
}