@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


h1{
    margin-bottom: 20px;
    font-size: 1.95em;
}
h2{
    margin: 0 auto 20px;
    font-size: 1.05em;
    text-align: center;
}

.container{
    display: flex;
    width: 300px;
    overflow: hidden;
}
.container > div{
    width: 100%;
    height: 100%;
    transform: scale(1);
    margin: 0 auto;
    flex-shrink: 0;
}
.card{
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.card.one, .one-details{
    background: url(../media/cool-phone-wallpapers.png) center;
    background-size: cover;
    transition: all .8s;
}

.card img{
    width: 50px;
    height: 50px;
}
.type-logo, .more-details{
    display: flex;
}
.type-logo{
    justify-content: space-between;
    align-items: center;
}
.card-type{
    font-size: 0.95em;
}
.card-number{
    margin: 20px 0 30px;
}

.more-details{
    justify-content: space-between;
}
.more-details p{
    font-size: .75em;
}
.details{
    display: flex;
    width: 65%;
    justify-content: space-between;
}
label{
    font-size: 0.45em;
    font-weight: 300;
}

.one-details{
    padding: 20px;
}
.transaction{
    display: flex;
    justify-content: space-between;
    background: #13111183;
    padding: 10px;
    border-radius: 10px;
}
.logo-details{
    display: flex;
}

.see-card-btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #fcfff1;
    color: #000;
    cursor: pointer;
    transition: all .2s;
}
.see-card-btn:hover{
    background: #141414;
    color: #fff;
}

.card.flip,
.one-details.flip{
    transform: rotateY(180deg);
}
img[alt='arrow']{
    width: 20px;
    height: 20px;
}
