
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

$fs-100: 0.5em;
$fs-300: 0.75em;
$fs-500: 0.9em;
$fs-700: 1.25em;
$fs-800: 1.50em;
$fs-900: 1.85em;

$grey: rgb(97, 99, 121);
$gray: rgb(227, 228, 235);
$white: rgb(251, 251, 253);
$mid-blue: rgb(25, 57, 163);
$black: rgb(14, 12, 12);
$rr: rgb(80, 247, 130);

h1{
    font-size: $fs-800;
}

@media (min-width: 600px) {
    h1{
        font-size: $fs-900;
    }
}