@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.5em;
}

h1, h2 {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.85em;
  }
}
.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.25em;
}
.mobile-nav .hamburger {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  transition: all 0.4s;
}
.mobile-nav .hamburger-bar {
  width: 30px;
  height: 2px;
  background: rgb(0, 0, 0);
}
.mobile-nav .hamburger-bar,
.mobile-nav .hamburger::before,
.mobile-nav .hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 4px 0;
  transition: all 0.4s;
}
.mobile-nav .hamburger::before {
  width: 50%;
}
.mobile-nav .hamburger::after {
  margin: 0px 0 0;
  float: right;
  width: 50%;
}
.mobile-nav .hamburger.active::before {
  transform: rotate(45deg) translate(1px, -1px);
}
.mobile-nav .hamburger.active::after {
  transform: rotate(45deg) translate(-4px, -1px);
}
.mobile-nav .hamburger.active .hamburger-bar {
  transform: rotate(-45deg) translate(1px, -1px);
}

.navigation-menu {
  position: absolute;
  width: 100%;
  padding: 10px;
  transition: 0.4s;
  background: #fff;
  box-shadow: 1px 8px 5px 1px rgba(255, 255, 255, 0.8);
  display: none;
}
.navigation-menu ul li {
  padding: 10px 20px;
}
.navigation-menu ul li:hover {
  background: rgba(158, 135, 7, 0.3);
}

.navigation-menu.active {
  display: block;
  animation: roll 0.3s;
}

main > div {
  padding: 0 15px;
}

.detail-content {
  display: grid;
  place-content: center;
  padding: 0 20px 0;
  min-height: 80vh;
}
.detail-content h1 {
  max-width: 700px;
  margin: 0 auto;
}

.illustration {
  text-align: center;
}
.illustration p {
  margin: 10px auto 30px;
  max-width: 700px;
  font-size: 0.9em;
}
.illustration img {
  width: 100%;
  max-width: 750px;
}

.projects {
  background: rgba(202, 199, 199, 0.4196078431);
  padding: 30px 15px;
}
.projects .grid-projects {
  display: grid;
  gap: 20px;
}
.projects .grid-projects .card-component {
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background: rgb(14, 12, 12);
  transition: all 0.4s ease-in-out;
}
.projects .grid-projects .card-component h1 {
  color: rgb(251, 251, 253);
  font-size: 1.35em;
}
.projects .grid-projects .card-component p {
  color: rgb(227, 228, 235);
  font-size: 0.85em;
  line-height: 1.45em;
  margin: 5px 0 30px;
}
.projects .grid-projects .card-component .card-btn {
  color: rgb(251, 251, 253);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  background: rgb(25, 57, 163);
}
.projects .grid-projects .card-component .circle {
  outline: 1px solid rgb(107, 155, 252);
  display: none;
  margin: -10px 0 0 95%;
  width: 28px;
  height: 28px;
  background: rgb(251, 251, 253);
  border-radius: 50%;
  transition: all 0.1s;
}
.projects .grid-projects .card-component:hover {
  outline: 2px solid rgb(107, 155, 252);
}
.projects .grid-projects .card-component:hover .header {
  margin-top: -18px;
}
.projects .grid-projects .card-component:hover .circle {
  display: grid;
  place-content: center;
}

.xp-tools {
  padding: 30px 15px;
  background: rgb(14, 12, 12);
  color: rgb(251, 251, 253);
}
.xp-tools a {
  text-decoration: underline;
  color: rgb(25, 57, 163);
}
.xp-tools .offer-experience {
  display: grid;
  gap: 35px;
}
.xp-tools .offer-experience .offer {
  max-width: 350px;
}
.xp-tools .offer-experience .experience .experience-box .xp-div {
  margin-bottom: 20px;
}
.xp-tools .offer-experience .experience .experience-box .xp-div h4 {
  margin-bottom: 5px;
}
.xp-tools .offer-experience .experience .experience-box .xp-div p {
  font-weight: 300;
}

@media (min-width: 600px) {
  .mobile-nav,
  .navigation-menu {
    display: none;
  }
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.25em;
    padding: 20px 20%;
    position: fixed;
    backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .desktop-nav .nav-links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
  }
  .detail-content {
    text-align: center;
  }
  .projects {
    padding: 30px 15px;
  }
  .projects .grid-projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .xp-tools .offer-experience {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .desktop-nav {
    padding: 10px 5%;
  }
}
@media (min-width: 1000px) {
  .projects, .xp-tools {
    padding: 40px 10%;
  }
}
@media (min-width: 1300px) {
  .projects, .xp-tools {
    padding: 40px 20%;
  }
}
@keyframes roll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
